<ul class="breadcrumb">
	<li>
		<i class="icon-home"></i> <%= link_to "Home", root_path %>
		<span class="divider">/</span>
	</li>
  <li class="active">
		<i class="icon-user"></i> Teams
	</li>
</ul>

<div class="row">
	<div class="span8">
		<div class="page-header">
		  <h1>Listing teams</h1>
		</div>
	</div>
	<div class="span4">
		<%= link_to new_team_path, :class => "btn btn-primary" do %>
			<i class="icon-plus icon-white"></i> New team
		<% end %>
	</div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
	    <th>Name</th>
    </tr>
  </thead>
	<tbody>
	<% @teams.each do |team| %>
	  <tr>
	    <td><%= link_to team.name, team_path(team) %></td>
	  </tr>
	<% end %>
	</tbody>
</table>