<div class="hero-unit">
	<h1>echoboard ❧ </h1>
	<p>Light-weight SCRUM planner for multi-team projects.</p>
</div>

<ul class="thumbnails">
  <li class="span8">
		<%= link_to(projects_path, :class => "thumbnail" ) do %>
			<img src="http://placehold.it/500x100/ffffff/333333&text=projects" alt="">
		<% end %>
  </li>
  <li class="span4">
		<%= link_to(teams_path, :class => "thumbnail" ) do %>
			<img src="http://placehold.it/500x100/ffffff/333333&text=teams" alt="">
		<% end %>
  </li>
</ul>