<div class="hero-unit">
	<h1>echoboard ❧ </h1>
	<p>A light-weight SCRUM board for multi-team projects.</p>
</div>

<ul class="thumbnails">
  <li class="span4">
		<%= link_to(projects_path, :class => "thumbnail" ) do %>
			<img src="http://placehold.it/300x100/ffffff/333333&text=Projects" alt="">
		<% end %>
  </li>
  <li class="span4">
		<%= link_to(teams_path, :class => "thumbnail" ) do %>
			<img src="http://placehold.it/300x100/ffffff/333333&text=Teams" alt="">
		<% end %>
  </li>
  <li class="span4">
		<img src="http://placehold.it/300x100/ffffff/aaaaaa&text=Meetings" alt="">
  </li>
</ul>
