<fieldset id="difficulties">
  <%= f.input :value, :input_html => { :class => "input-mini" }, label: "Difficulty" %>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox inline">
        <%= f.check_box :_destroy %>
        Remove?
      </label>
    </div>
  </div>
</fieldset>
