<fieldset id="story_in_iterations">
  <i class="icon-bookmark"></i> <%= link_to @iteration.stories_in_iterations[index].story.name, project_story_path(@project, @iteration.stories_in_iterations[index].story) %>
  <%= f.input :status_id, collection: @project.statuses,
                            :as => :radio_buttons,
                            :label_method => :value,
                            :item_wrapper_class => 'inline' %>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox inline">
        <%= f.check_box :done %>
        <span class="badge badge-info"><%= Difficulty.find(@iteration.stories_in_iterations[index].story.difficulty_id).value %></span> Add points?
      </label>
    </div>
  </div>
</fieldset>
